<section class="app-section app-section--blue govuk-!-margin-top-3">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">  
        <h1 class="govuk-heading-m app-heading--section-blue">Get help with ESFA services</h1>
        {{search submit=true instant=settings.instant_search class='app-search' placeholder="Search the ESFA help centre"}}
      </div>
    </div>
  </div>
</section>

<section class="app-section">
  <div class="govuk-width-container">  
  
   {{#each categories}}
    
      <!--<!-- Internal articles -->
    	<!--{{#is name "Internal"}}
	    	
	    	<h2 class="govuk-heading-l">Internal articles</h2>

        <div class="govuk-grid-row block-grid">
          {{#each sections}}
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">{{name}}</h3>
                <p>{{description}}</p>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href='{{url}}'>View all <span class="app-text--lowercase">{{name}}</span> articles</a></li>
                </ul>
              </div>
          {{/each}}
        </div>
   --> 
      
    	{{/is}}
      <!-- Internal articles -->
      <!-- Public articles -->
    	{{#is name "Articles"}}  {{!-- articles, not cookies/feedback/terms/etc --}}
	    	
	    	<h2 class="govuk-heading-l">Help articles</h2>
        <div class="govuk-grid-row block-grid">
          {{#each sections}}
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">{{name}}</h3>
                <ul class="govuk-list">
                  {{#each articles}}
                    <li class="govuk-!-margin-top-6"><a class="govuk-link" href="{{url}}">{{title}}</a></li>
                  {{/each}}
                  <li class="govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold" href='{{url}}'>View all <span class="app-text">{{name}}</span> articles</a></li>
              </ul>
            </div>
          {{/each}}
        </div>
    	
    	{{/is}}
    <!-- Public articles -->
    {{/each}}
  </div>
</section>

  </div>

<section class="app-section" style="">
   <div class="govuk-width-container">
     
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 
 
  
  <h2 class="govuk-heading-l">Contact us</h2>
                
  <!-- remove this line to enable the "Send a message" portion of the landing page (1/2) -->
    <div class="govuk-grid-row">
         
      <div class="govuk-grid-column-full">
      		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      	<div class="row">
  <div class="govuk-grid-column-one-half">
    <h3><a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen">Send us a message</a></h3>
    <p>You can send us a message using our web form.</p>
    
  </div>
  <div class="govuk-grid-column-one-half">
    <h3><a href="https://feconnect.education.gov.uk/">Ask our community</a></h3>
    <p>You can join our community of learners, providers and employers, helping you find answers to questions about further education.</p>
  </div>
        </div> 
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div> 
  		
     </div>
      
      

      </div>
    </div>
    
    
    
  
  
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">  
        
      </div>
    </div>
  </div>
</section>

</section>
</section>